
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/project-template.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/description.html
V3D.iml
out/production/V3D/com/ryan/Vector3D.class
out/production/V3D/com/ryan/Screen.class
out/production/V3D/com/ryan/Ray.class
out/production/V3D/com/ryan/Main.class
out/production/V3D/com/ryan/Camera.class
out/
